<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test_case_script.TC001_Login"/>
      <class name="test_case_script.Tc008_CheckWelcome"/>
      <class name="test_case_script.Tc007_Login"/>
      <class name="test_case_script.Tc005_Login"/>
      <class name="test_case_script.Tc004_Login4"/>
      <class name="test_case_script.Tc003_Login"/>
      <class name="test_case_script.TC031_SearchHotel_Ad"/>
      <class name="test_case_script.Tc006_LoginI"/>
      <class name="test_case_script.TC002_Login2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
